/*.like-icon {*/
/*    transform: scale(1);*/
/*    cursor: pointer;*/
/*    animation-direction: alternate;*/
/*}*/
/* hover */

.like-icon:hover .core {
    fill: #000000;
    transition: fill linear 0.3s;
}

.like-icon:hover .main-body {
    fill: #000000;
    transition: fill linear 0.3s 0.05s;
}
 /*active */
.like-icon:active .core {
    fill: #ff0000;
    transition: fill linear 0.3s;
}

.like-icon:active .main-body {
    fill: #ff0000;
    transition: fill linear 0.3s 0.05s;
}

.like-icon:active .contour {
    fill: #ff0000;
    transition: fill linear 0.3s 0.3s;
}
.like-icon.is-liked .contour{
    animation-duration: 0.3s;
    animation-name: scaleAnimation;
    fill: #ff0000;
}
.like-icon.is-liked .main-body{
    animation-duration: 0.3s;
    animation-name: scaleAnimation;
    fill: #ff0000;
}
.like-icon.is-liked .core{
    animation-duration: 0.3s;
    animation-name: scaleAnimation;
    fill: #ff0000;
}
@keyframes scaleAnimation {
    from{
       transform:scale(1);
    }
    50%{
        transform: translate(-3px, -3px) scale(1.2);
    }
    to{
        transform:scale(1);
    }
}

.like-icon.is-liked  .sparks{
    animation: 0.3s 0.3s ease-in;
    animation-name: likeSparks;
}

@keyframes likeSparks {
    from{
        opacity: 0.2;
    }
    50%{
        opacity: 0.6;
    }
    to{
        opacity: 1;
    }
}

/* init */

/*.like-icon .contour {*/
/*    transition: fill linear 0.1s;*/
/*}*/

/*.like-icon  .core {*/
/*    fill: transparent;*/
/*    transition: fill linear 0.3s 0.03s;*/
/*}*/

/*.like-icon .main-body {*/
/*    fill: transparent;*/
/*    transition: fill linear 0.3s;*/
/*}*/

/* is-liked */

/*.like-icon.is-liked .heart {*/
/*    transform-origin: center;*/
/*    animation: scale 0.3s 0.1s ease-in alternate;*/
/*}*/

/*.like-icon.is-liked .sparks {*/
/*    opacity: 0;*/
/*    animation: sparks-opacity 0.3s 0.3s ease-in alternate;*/
/*}*/

/*.like-icon.is-liked .initial {*/
/*    fill: #000000;*/
/*    transition: fill linear 0.3s 0.06s;*/
/*}*/

/*.like-icon.is-liked .core,*/
/*.like-icon.is-liked .main-body {*/
/*    fill: #ff0000;*/
/*}*/

