/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--regular-text);
  font-size: 18px;
  max-inline-size: 700px;
  min-block-size: 100%;
  margin: 0 auto;
  background-image: var(--page-background-image);
  background-attachment: fixed;
  background-size: cover;
  letter-spacing: 0.6px;
  color: var(--accent-color)
}

.dialog {
  color: var(--accent-color);
}

.header {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  border: solid 2px var(--accent-color);
  font-family: var(--accent-font);
  text-transform: uppercase;
  background-color: var(--page-background-color);
  padding: 12px;
}

.header__title {
  font-size: clamp(0.875rem, 0.677rem + 0.85vw, 1.438rem);
  font-weight: 400;
  padding-top: 20px;
}


.theme-menu__list {
  font-size: 14px;
  padding-top: 18px;
  padding-bottom: 3px;
}

.theme-menu__list .theme-menu__item {
  margin-left: 18px;
  cursor: pointer;
}

.theme-menu__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.8;
  text-transform: uppercase;
  transition: opacity 0.3s;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  outline: none;
  opacity: 0.6;
  text-decoration: underline;
}

.theme-menu__button[disabled] {
  position: relative;
  opacity: 0.6;
}

.theme-menu__button[disabled]::before {
  content: '▶';
  display: inline-block;
  position: absolute;
  top: 0;
  left: -12px;
}

.theme-menu__button:after {
  content: '';
  display: block;
  transform: scaleX(0);
  transform-origin: 0;
  height: 2px;
  background-color: var(--accent-color);
  opacity: 0.6;
  transition: transform 0.3s;
}


.section__title {
  line-height: 2rem;
  font-variation-settings: 'wght' var(--bold-text);
  padding: 0 10px;
  border-bottom: 2px solid var(--accent-color);
}

.section {
  margin-bottom: 51px;
  background-color: var(--page-background-color);
  border: solid 2px var(--accent-color);
}

.section__content {
  padding: 25px 25px 22px;
  line-height: 21px;
}

.section__content p:not(:last-child) {
  margin-bottom: 27px;
}

.image-container {
  position: relative;
  display: flex;
  color: var(--page-background-color);
  border-bottom: 2px solid var(--accent-color);
}

.section__image {
  inline-size: 100%;
}

.section.now .section__content {
  padding-top: 21px;
}

.image-watermark {
  position: absolute;
  z-index: 1;
  opacity: 50%;
  font-family: var(--accent-font);
  color: var(--accent-color);
  background-color: transparent;
  font-size: 14px;
  line-height: normal;
  text-shadow: 1px 1px 0 var(--page-background-color);
  inset-inline-end: 24px;
  inset-block-start: 24px;
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px #000000) or (-webkit-text-stroke: 1px #000000)) {

  .image-watermark {
    -webkit-text-stroke: 1px var(--page-background-color);
    text-stroke: 1px var(--page-background-color);
    text-shadow: none;
  }
}

.section__like {
  display: flex;
  justify-content: end;
  padding: 2px 25px 25px;
  background-color: var(--page-background-image);
}

.card__icon-button {
  border: none;
}

.like-icon {
  width: 39px;
  height: 36px;
  display: block;
  content: "";
  position: relative;
  z-index: 1;
}

.like-icon.contour {
  transition: fill 0.01s linear;
  fill: var(--accent-color);
}

.card__icon-button {
  background-color: var(--page-background-image);
}

.card__like-button {
  align-items: center;
  justify-content: center;
  max-block-size: 38px;
  width: 130px;
  border: 2px solid var(--accent-color);
  position: relative;
  background-color: var(--page-background-color);
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  outline: 2px solid var(--accent-color);
}

.button__text {
  background-color: rgba(255, 255, 255, 0);
  font-family: var(--accent-font);
  font-size: 14px;
  position: relative;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.card__like-button:hover {
  color: var(--page-background-color);
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 var(--box-shadow);
  outline: none;
}

.card__like-button::before {
  content: "";
  display: block;
  background: var(--accent-color);
  height: 100%;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}

.card__like-button:hover::before {
  width: 100%;
}

.decoration-title {
  font-size: clamp(3.063rem, 2.71rem + 1.5vw, 4.063rem);
  margin-block-start: clamp(6.25rem, 6.3rem + 1.667vw, 9.125rem);
}

.theme-menu__item {
  line-height: 27px;
}

.footer {
  display: flex;
  justify-content: center;
  padding-bottom: 55px;
}

.open-modal-button {
  background-color: var(--page-background-color);
  display: flex;
  width: 340px;
  border: 2px solid var(--accent-color);
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 12.6px;
  padding: 15px 20px;
  gap: 8px;
  position: relative;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}

.open-modal-button:hover::before {
  transform: scaleX(1);
}

.open-modal-button:hover .icon-floppy {
  fill: var(--page-background-color);
}

.open-modal-button .footer-image-min {
  fill: var(--accent-color);
  transition: mix-blend-mode 0.5s;
  z-index: 999;
  height: 100%;
  width: 21px;
}

.card__like-button:focus-visible,
.open-modal-button:focus-visible,
.close-modal-button:focus-visible {
  box-shadow: 2px 2px 0 var(--box-shadow);
  outline: none;
}

.open-modal-button::before {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform-origin: 0 0;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.modal {
  width: 357px;
  border: 2px solid var(--accent-color);
  background-color: var(--page-background-color);
}

.close-modal-button {
  display: flex;
  width: 100%;
  height: 38px;
  border: 2px solid var(--accent-color);
  text-transform: uppercase;
  padding: 9px 17px;
  gap: 10px;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 12.6px;
  text-align: center;
  justify-content: center;
  margin-top: 30px;
  inline-size: 293px;
  block-size: 38px;
  grid-column-end: span 2;
  background-color: transparent;
  border: solid 2px var(--accent-color);
  position: relative;
  transition: box-shadow 0.3s, transform 0.3s;
}

.close-modal-button::before {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform-origin: 0 0;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.close-modal-button:hover::before {
  transform: scaleX(1);
}

.close-modal-button:hover {
  fill: var(--accent-color);
  color: var(--page-background-color);
}

.footer-content {
  display: flex;
  align-items: center;
  padding: 30px;
  gap: 20px;
}

.footer-image-max {
  flex-shrink: 0;
  inline-size: 39px;
  block-size: 39px;
  aspect-ratio: 1 / 1;
  transition: mix-blend-mode 0.5s;
  fill: var(--accent-color);
}

.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  transition: mix-blend-mode 0.5s;
  color: var(--button-text-color);
  mix-blend-mode: difference;
  line-height: 1.4rem;
}

.modal::backdrop {
  background-color: #000000;
  opacity: 75%;
}

@media (max-width: 376px) {
  .open-modal-button {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 312px;
    gap: 3px;
  }

  .open-modal-button .footer-image-min {
    width: 28px;
  }

  .section {
    margin-bottom: 50px;
  }

  .section__title {
    line-height: 21.78px;
    padding-top: 8px;
  }

  .section__content {
    padding-top: 27px;
  }

  .section.now .section__content {
    padding-top: 26px;
  }

  .icon-floppy {
    width: 28px;
  }

  .button__text {
    line-height: 1.2rem;
  }

  .header__title {
    padding-left: 2px;
  }

  .theme-menu__list {
    padding-left: 2px;
  }

  .image-watermark {
    inset-inline-end: 11px;
    inset-block-start: 25px;
  }
}
