/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root{
    --color-black: #000000;
    --color-green: #00CC14;
    --color-white: #ffffff;
    --color-red: #ff0000;
}